 body{
    margin: 0px;
    padding: 0px;
    background-image: url('../IMAGES/bg.jpg');
    color: #ebebff;
    height: 100%;
}

.left {
    display: inline-block;
    left: 34px;
    position: absolute;
    top: 20px;
}

.mid {
    display: block;
    margin: 60px auto;
    width: 38%;
}

.right {
    position: absolute;
    right: 34px;
    top: 70px;
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 17px 17px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.left img {
    width: 150px;
    margin-left: 100px
}

.btn {
    margin: -15px 10px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
}

.container {
    border-radius: 50px;
    margin: 150px 100px;
    padding: 30px;
    width: 40%;
}
.container h1{
    text-align: center;
    text-decoration:underline;
    color:black;
}

.submit {
    margin: auto;
    display: block;
    width: 50%;
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    text-align: center;
}

.submit:hover{
    background-color:gainsboro;
}



.formgroup input{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin:20px auto;
    width: 400px;
    display: block;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 20px;
}

.quotes{
    margin: -630px 900px;
    padding: 25px 75px;
    display: block;
     width: 40%;
     float: left;
     box-sizing: border-box;
}
.quotes h3{
    color: red;
    font-size: 30px;
}
.quotes p{
    color: #ffffff;
}
.quotes h1{
  color: whitesmoke ;
  font-size: 48px;
}